@model TeamApplication.Models.StatDto

@{
    ViewBag.Title = "View";
}


<a href="/Stat/List"> Go back to list</a>
<h2>Playername: @Model.PlayerName</h2>
<div>Team scored against: @Model.TeamScoredAgainst</div>

