
@{
    ViewBag.Title = "Create";
}

<style>
    .navbar {
        background-color: #1B2430;
    }

    body {
        background-color: lightgray;
    }

    a {
        color: seagreen;
    }
</style>
<h2>Create Stat</h2>

<form action="/Stat/Create" method="post">
    <div>
        <label>Player ID:</label>
        <input type="number" name="PlayerName" />
    </div>
    <div>
        <label>Team ID:</label>
        <input type="number" name="TeamIDScoredAgainst" />
    </div>
    <div>
       
        <input type="submit" value="Add Stat(Goal)" />
    </div>

</form>

