@model TeamApplication.Models.PlayerDto

@{
    ViewBag.Title = "View";
}


<a href="/Player/List"> Go back to list</a>
<h2>PlayerID: @Model.PlayerID</h2>
<div>Playername: @Model.PlayerName</div>
<div>Player position: @Model.PlayerPosition</div>

